.load_container .curvebox 	{	background: none transparent scroll repeat 0% 0%;	width:500px; 	padding-bottom:8px;	}
.curvebox p 	{	MARGIN: 0px 10px	}
.curvebox .b1 
	{
	DISPLAY: block; 
	FONT-SIZE: 1px; 
	OVERFLOW: hidden
	}
.curvebox .b2 
	{
	DISPLAY: block; 
	FONT-SIZE: 1px; 
	OVERFLOW: hidden
	}
.curvebox .b3 
	{
	DISPLAY: block; 
	FONT-SIZE: 1px; 
	OVERFLOW: hidden
	}
.curvebox .b4 
	{
	DISPLAY: block; 
	FONT-SIZE: 1px; 
	OVERFLOW: hidden 
	}
.curvebox .b1b 
	{
	DISPLAY: block; 
	FONT-SIZE: 1px; 
	OVERFLOW: hidden
	}
.curvebox .b2b 
	{
	DISPLAY: block; 
	FONT-SIZE: 1px; 
	OVERFLOW: hidden
	}
.curvebox .b3b 
	{
	DISPLAY: block; 
	FONT-SIZE: 1px; 
	OVERFLOW: hidden
	}
.curvebox .b4b 
	{
	DISPLAY: block; 
	FONT-SIZE: 1px; 
	OVERFLOW: hidden
	}
.curvebox .b1 
	{
	HEIGHT: 1px
	}
.curvebox .b2 
	{
	HEIGHT: 1px
	}
.curvebox .b3 
	{
	HEIGHT: 1px
	}
.curvebox .b1b 
	{
	HEIGHT: 1px
	}
.curvebox .b2b 
	{
	HEIGHT: 1px
	}
.curvebox .b3b 
	{
	HEIGHT: 1px
	}
.curvebox .b2 
	{
	BORDER-RIGHT: #cdcdcd 1px solid; 
	/*BACKGROUND: #fbfbfb;
	BACKGROUND: #DCECF9 */
	BORDER-LEFT: #cdcdcd 1px solid
	}
.curvebox .b3 
	{
	BORDER-RIGHT: #cdcdcd 1px solid; 
	/*BACKGROUND: #fbfbfb;*/ 
	BORDER-LEFT: #cdcdcd 1px solid
	}
.curvebox .b4 
	{
	BORDER-RIGHT: #cdcdcd 1px solid; 
	/*BACKGROUND: #fbfbfb;*/ 
	BORDER-LEFT: #cdcdcd 1px solid
	}
.curvebox .b4b 
	{
	BORDER-RIGHT: #cdcdcd 1px solid; 
	/*BACKGROUND: #fbfbfb;*/ 
	BORDER-LEFT: #cdcdcd 1px solid;
	}
.curvebox .b3b 
	{
	BORDER-RIGHT: #cdcdcd 1px solid; 
	/*BACKGROUND: #fbfbfb;*/ 
	BORDER-LEFT: #cdcdcd 1px solid;
	}
.curvebox .b2b 
	{
	BORDER-RIGHT: #cdcdcd 1px solid; 
	/*BACKGROUND: #fbfbfb;*/ 
	BORDER-LEFT: #cdcdcd 1px solid;
	}
.curvebox .b1 
	{
	BACKGROUND: #cdcdcd; 
	MARGIN: 0px 5px;
	}
.curvebox .b2 
	{
	BORDER-TOP-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 2px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	MARGIN: 0px 3px; 
	BORDER-RIGHT-WIDTH: 2px;
	}
.curvebox .b2b 
	{
	BORDER-TOP-WIDTH: 0px; 
	BORDER-LEFT-WIDTH: 2px; 
	BORDER-BOTTOM-WIDTH: 0px; 
	MARGIN: 0px 3px; 
	BORDER-RIGHT-WIDTH: 2px
	}
.curvebox .b3 
	{
	MARGIN: 0px 2px
	}
.curvebox .b3b 
	{
	MARGIN: 0px 2px;
	}
.curvebox .b4 
	{
	MARGIN: 0px 1px; 
	HEIGHT: 2px;
	}
.curvebox .b4b 
	{
	MARGIN: 0px 1px; 
	HEIGHT: 2px;
	}
.curvebox .b1b 
	{
	BACKGROUND: #cdcdcd; 
	MARGIN: 0px 5px;
	}
.curvebox .boxcontent 
	{
	BORDER-RIGHT: #cdcdcd 1px solid; 
	DISPLAY: block; 
	background: #fbfbfb; 
	BORDER-LEFT: #cdcdcd 1px solid;
	}
	
	
